
html{
  height: 100%;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.menu
{
  background: rgb(255,144,144);
  background: linear-gradient(0deg, rgba(255,144,144,1) 63%, rgba(255,255,255,1) 100%);
  border-radius: 100px;
  margin-bottom: 1%;
}

.button
{
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover
{
  text-decoration: none;
  color: white;
  transform: scale(1.2);
}

.nav-link{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown-toggle
{
  text-decoration: none;
}



@media (max-width: 767px) {
  /*xs*/
  .btn {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /*sm*/
  .btn {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /*md*/
  .btn {
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 4px;
  }
}
@media (min-width: 1200px) {
  /*lg*/
  .btn {
      padding: 10px 16px;
      font-size: 14px;
      line-height: 1.3333333;
      border-radius: 6px;
  }
}