{% extends "base.html" %}
{% load static %}
{% block for_css %}
{% endblock %}
{% block title %}Авторизация{% endblock %}


{% block content %}

{% if form.errors %}
<p>Неправильные логин или пароль</p>
{% endif %}


{% if user.is_authenticated %}
<h1>Вы уже авторизованы</h1>
{% else %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="Войти" />
</form>
{% endif %}
{% endblock %}